skills/make-api-shell-connection-workflow/examples/generic-api-shell-blueprint.json
{
  "name": "Generic API Shell",
  "flow": [
    {
      "id": 2,
      "module": "scenario-service:StartSubscenario",
      "version": 2,
      "parameters": {},
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {},
        "interface": [
          { "name": "path", "type": "text", "required": false, "multiline": false },
          { "name": "body", "type": "any", "required": false },
          { "name": "header", "type": "any", "required": false },
          { "name": "method", "type": "text", "required": false, "multiline": false }
        ]
      }
    },
    {
      "id": 3,
      "module": "APP_NAME:API_CALL_MODULE_NAME",
      "version": 1,
      "parameters": {},
      "filter": null,
      "mapper": {
        "url": "{{2.path}}",
        "method": "{{2.method}}",
        "headers": "{{2.header}}",
        "body": "{{2.body}}"
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "restore": {
          "expectUserSelection": true,
          "notes": "Replace module name, version, and connection metadata with values discovered from the active workspace. Reconcile any app-specific expect or restore structures against a real current blueprint before activation."
        }
      }
    },
    {
      "id": 4,
      "module": "scenario-service:ReturnData",
      "version": 1,
      "parameters": {},
      "mapper": {
        "data": "{{3.body}}"
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "restore": {}
      }
    }
  ],
  "metadata": {
    "version": 1,
    "notes": "Template only. Replace placeholders with discovered app and connection data before deployment. The generic API shell blueprint starts with scenario-service:StartSubscenario as the start/input module, then the app-specific API-call module, then scenario-service:ReturnData. After create or update, explicitly patch and verify the scenario-level interface before the first run, then execute the shell through /api/v2/scenarios/{scenarioId}/run with matching data keys for path, method, header, and body. For the generic shell contract, keep ReturnData mapped to {{3.body}} so ExpectDataAny receives the raw response body; validate runs to confirm body contains the intended payload or error object. If a provider module mishandles empty bodies on GET or DELETE, keep this shell contract but consider a read shell without the Module 2 body mapper and a separate write shell with it."
  }
}
